/* CallButton.css */
.call-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #0171b6; /* Green color */
    color: white;
    border-radius: 50%;
 
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  #phones{
    color: rgb(255, 255, 255);
  }
  
  .call-button:hover {
    background-color: #f4f7f5; /* Darker green */
  }
  